body{
    width: 7000px;
    height: 10000px;
    display: flex;
    align-items: center;
    justify-content: center;

}
main{
    overflow: hidden;
    position: relative;
    width: 3508px;
    height: 4961px;
    background-color: #48C9B0;
    display: grid;
    grid-template: 5% 1fr 10% /1fr;}
.head, .bas{
    width: 200%;
    top: -83px;
    position: relative;
    transform: rotate(1.5deg);
    background-color: #2980B9;
    }